<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>buddyUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B16CBD801D8CD4E50060E6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B16CBD961D8CD4E60060E6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B16CBDA11D8CD4E60060E6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
